<form autocomplete='off' class='{{cssClass}}'>
  <header>
    <h2 class='flexrow'>
      <span>{{localize
          'SWADE.Requirements.Editor.Header'
          name=object.name
        }}</span>
      <button
        type='button'
        class='add-requirement'
        data-action='add'
        data-tooltip='SWADE.Requirements.Editor.AddHint'
      >
        <i class='fa-solid fa-plus'></i>
      </button>
    </h2>
  </header>
  <ul>
    {{#each requirements}}
      <li data-index='{{@index}}'>
        <div class='requirement'>
          <label class='float-label'>
            <select name='{{concat "system.requirements." @index ".type"}}'>
              {{selectOptions @root.typeChoices selected=type localize=true}}
            </select>
            <span>{{localize 'Type'}}</span>
          </label>
          <div class='flexrow'>
            {{#if (eq type @root.types.RANK)}}
              <label class='float-label'>
                <select
                  name='{{concat "system.requirements." @index ".value"}}'
                >
                  {{selectOptions @root.rankChoices selected=value}}
                </select>
                <span>{{localize 'SWADE.Rank'}}</span>
              </label>
            {{else if (eq type @root.types.WILDCARD)}}
              <input
                type='checkbox'
                name='{{concat "system.requirements." @index ".value"}}'
                {{checked value}}
              />
            {{else if (eq type @root.types.ATTRIBUTE)}}
              <label class='float-label'>
                <select
                  name='{{concat "system.requirements." @index ".selector"}}'
                  required
                >
                  {{selectOptions
                    @root.attributeChoices
                    selected=selector
                    localize=true
                  }}
                </select>
                <span>{{localize 'SWADE.Attribute'}}</span>
              </label>
              <label class='float-label'>
                <select
                  name='{{concat "system.requirements." @index ".value"}}'
                  data-dtype='Number'
                >
                  {{selectOptions @root.dieChoices selected=value}}
                </select>
                <span>{{localize 'SWADE.DieSides'}}</span>
              </label>
            {{else if (eq type @root.types.SKILL)}}
              <label class='float-label'>
                <input
                  type='text'
                  name='{{concat "system.requirements." @index ".label"}}'
                  value='{{label}}'
                  placeholder='{{localize "SWADE.Requirements.Editor.Label"}}'
                  required
                />
                <span>{{localize 'SWADE.Requirements.Editor.Label'}}</span>
              </label>
              <label class='float-label'>
                <input
                  type='text'
                  name='{{concat "system.requirements." @index ".selector"}}'
                  value='{{selector}}'
                  pattern='{{@root.slugPattern}}'
                  placeholder='{{localize "SWADE.Requirements.Editor.SWID"}}'
                  required
                />
                <span>{{localize 'SWADE.Requirements.Editor.SWID'}}</span>
              </label>
              <label class='float-label'>
                <select
                  name='{{concat "system.requirements." @index ".value"}}'
                  data-dtype='Number'
                >
                  {{selectOptions @root.dieChoices selected=value}}
                </select>
                <span>{{localize 'SWADE.DieSides'}}</span>
              </label>
            {{else if (eq type @root.types.EDGE)}}
              <label class='float-label'>
                <input
                  type='text'
                  name='{{concat "system.requirements." @index ".label"}}'
                  value='{{label}}'
                  placeholder='{{localize "SWADE.Requirements.Editor.Label"}}'
                  required
                />
                <span>{{localize 'SWADE.Requirements.Editor.Label'}}</span>
              </label>
              <label class='float-label'>
                <input
                  type='text'
                  name='{{concat "system.requirements." @index ".selector"}}'
                  value='{{selector}}'
                  pattern='{{@root.slugPattern}}'
                  placeholder='{{localize "SWADE.Requirements.Editor.SWID"}}'
                  required
                />
                <span>{{localize 'SWADE.Requirements.Editor.SWID'}}</span>
              </label>
            {{else if (eq type @root.types.HINDRANCE)}}
              <label class='float-label'>
                <input
                  type='text'
                  name='{{concat "system.requirements." @index ".label"}}'
                  value='{{label}}'
                  placeholder='{{localize "SWADE.Requirements.Editor.Label"}}'
                  required
                />
                <span>{{localize 'SWADE.Requirements.Editor.Label'}}</span>
              </label>
              <label class='float-label'>
                <input
                  type='text'
                  name='{{concat "system.requirements." @index ".selector"}}'
                  value='{{selector}}'
                  pattern='{{@root.slugPattern}}'
                  placeholder='{{localize "SWADE.Requirements.Editor.SWID"}}'
                  required
                />
                <span>{{localize 'SWADE.Requirements.Editor.SWID'}}</span>
              </label>
            {{else if (eq type @root.types.ANCESTRY)}}
              <label class='float-label'>
                <input
                  type='text'
                  name='{{concat "system.requirements." @index ".label"}}'
                  value='{{label}}'
                  placeholder='{{localize "SWADE.Requirements.Editor.Label"}}'
                  required
                />
                <span>{{localize 'SWADE.Requirements.Editor.Label'}}</span>
              </label>
              <label class='float-label'>
                <input
                  type='text'
                  name='{{concat "system.requirements." @index ".selector"}}'
                  value='{{selector}}'
                  pattern='{{@root.slugPattern}}'
                  placeholder='{{localize "SWADE.Requirements.Editor.SWID"}}'
                  required
                />
                <span>{{localize 'SWADE.Requirements.Editor.SWID'}}</span>
              </label>
            {{else if (eq type @root.types.POWER)}}
              <label class='float-label'>
                <input
                  type='text'
                  name='{{concat "system.requirements." @index ".label"}}'
                  value='{{label}}'
                  placeholder='{{localize "SWADE.Requirements.Editor.Label"}}'
                  required
                />
                <span>{{localize 'SWADE.Requirements.Editor.Label'}}</span>
              </label>
              <label class='float-label'>
                <input
                  type='text'
                  name='{{concat "system.requirements." @index ".selector"}}'
                  value='{{selector}}'
                  pattern='{{@root.slugPattern}}'
                  placeholder='{{localize "SWADE.Requirements.Editor.SWID"}}'
                  required
                />
                <span>{{localize 'SWADE.Requirements.Editor.SWID'}}</span>
              </label>
            {{else if (eq type @root.types.OTHER)}}
              <label class='float-label'>
                <input
                  type='text'
                  name='{{concat "system.requirements." @index ".label"}}'
                  value='{{label}}'
                  placeholder='{{localize "SWADE.Requirements.Editor.Value"}}'
                  required
                />
                <span>{{localize 'SWADE.Requirements.Editor.Value'}}</span>
              </label>
            {{/if}}
          </div>
          {{#unless @last}}
            <select
              name='{{concat "system.requirements." @index ".combinator"}}'
              data-tooltip='SWADE.Requirements.Combinator'
            >
              {{selectOptions @root.combinatorChoices selected=combinator localize=true}}
            </select>
          {{/unless}}
        </div>
        <button
          type='button'
          data-action='delete'
          data-tooltip='SWADE.Requirements.Editor.DeleteHint'
        >
          <i class='fa-solid fa-trash'></i>
        </button>
      </li>
    {{/each}}
  </ul>
  <footer>
    <button class='submit' type='button'><i class='fa-solid fa-save'></i>
      {{localize 'Save Changes'}}</button>
  </footer>
</form>