.doc-tweaks {
  .additionalStats-header {
    padding: 5px;
    margin: 5px 0;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid #aaa;
    border-radius: 2px;
  }

  .swid {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;

    .regenerate-swid {
      flex: 0;
      margin-left: 0.5rem;
    }
  }
}
