<div class='description'>
  <span class='vehicle-editor'>
    {{editor
      enrichedDescription
      target='system.description'
      button=true
      editable=editable
      engine='prosemirror'
    }}
  </span>
</div>