// based on https://github.com/tonystar/float-label-css

@mixin float-label-container {
  display: block;
  position: relative;
}

@mixin float-label {
  label,
  > span {
    position: absolute;
    left: 0;
    top: 0;
    cursor: text;
    opacity: 1;
    transition: all 0.2s;
    @content;
  }
}

@mixin float-label-input {
  padding: 0;
  &::placeholder {
    opacity: 1;
    transition: all 0.2s;
  }
  &:placeholder-shown:not(:focus)::placeholder {
    opacity: 0;
  }
}

@mixin float-label-scaled {
  &:placeholder-shown:not(:focus) + * {
    font-size: 125%;
    opacity: 0.5;
    @content;
  }
}

.float-label {
  @include float-label-container;

  @include float-label;
  &:has(input:invalid, select:invalid) {
    input,
    select {
      border-color: rgb(140, 22, 15);
    }
  }

  &:hover {
    box-shadow: var(--input-box-shadow);
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  input,
  select {
    @include float-label-input;
    font-size: inherit;
    padding-top: 1.5em;

    @include float-label-scaled {
      top: 0.5em;
    }
    &:hover,
    &:focus {
      box-shadow: none !important;
    }
    &:focus {
      outline: none;
      border-color: rgba(0, 0, 0, 0.5);
    }
  }

  select {
    padding-right: 1em;
    background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E")
      no-repeat right 0.5em bottom 0.25em;
    background-size: 8px 10px;
  }
}
